main {
    & form {
        display: flex;
        flex-direction: column;
        margin: 1rem;
        align-items: flex-start;

        & input {
            padding: 0.5rem;
            border-radius: 0.25rem;
            border: none;
            background-color: rgba(0, 0, 0, 0.05);
            color: var(--text-color);
            font-size: 1rem;
            margin-bottom: 1rem;
        }
    }
}