main {
    > section {
        display: flex;
        flex-direction: column;
        border: 1px solid black;
        border-radius: 0.5rem;

        & details {
            &:not(:last-child) {
                border-bottom: 1px solid black;
            }

            & summary, & p {
                padding: 1rem;
            }

            & summary {
                cursor: pointer;
                color: var(--text-color);
                transition: all 0.1s ease-in-out;

                &:hover {
                    background-color: rgba(0, 0, 0, 0.05);
                }
            }

            & p {
                margin: 0;
            }

            &[open] {
                & summary {
                    color: var(--primary-color);
                }
            }
        }
    }
}