main {
    & dialog {
        padding: 0;
        border-radius: 0.5rem;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px -2px, rgba(0, 0, 0, 0.14) 0 3px 4px 0, rgba(0, 0, 0, 0.12) 0 1px 8px 0;

        &::backdrop {
            backdrop-filter: blur(5px);
        }

        & header {
            --button-size: 1.5rem;
            background-color: #766F74;
            width: 100%;
            height: var(--button-size);
            display: flex;
            justify-content: flex-end;

            & button {
                width: var(--button-size);
                height: var(--button-size);
                top: 0;
                right: 0;
                padding: 0 !important;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 0 0.5rem 0 0 !important;
                background-color: var(--negative-color) !important;
                color: white;
            }
        }

        & div {
            padding: 1rem;
        }
    }
}