nav {
    width: 100dvw;
    height: 3.5rem;
    background-color: var(--primary-color);
    display: flex;
    padding: 1rem;
    justify-content: flex-end;
    box-sizing: border-box;
    color: var(--text-color);

    & ul {
        padding: 0;
        margin: 0;
        display: flex;
        height: 100%;
        align-items: center;
        gap: 1rem;

        & li {
            list-style: none;

            & a {
                color: inherit;
            }
        }
    }
}