article {
    width: 19rem;
    border-radius: 0.25rem;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 3px -2px, rgba(0, 0, 0, 0.14) 0 3px 4px 0, rgba(0, 0, 0, 0.12) 0 1px 8px 0;
    transition: all 0.1s ease-in-out;

    &:hover {
        box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
    }

    &.html_card {
        background-color: var(--html-color-bgc);

        &:hover {
            background-color: var(--html-color-bgc-hover);
        }

        & i {
            color: var(--html-color);
        }
    }

    &.css_card {
        background-color: var(--css-color-bgc);

        &:hover {
            background-color: var(--css-color-bgc-hover);
        }

        & i {
            color: var(--css-color);
        }
    }

    &.js_card {
        background-color: var(--js-color-bgc);

        &:hover {
            background-color: var(--js-color-bgc-hover);
        }

        & i {
            color: var(--js-color);
        }
    }

    &, & * {
        box-sizing: border-box;
    }

    & a {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-decoration: none;
        color: black;

        & hgroup {
            font-family: 'Raleway', sans-serif;

            & h2 {
                margin: 0;
                font-size: 1.5rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            & p {
                margin: 0;
                font-size: 0.75rem;
            }
        }

        & p {
            margin: 0;
            font-size: 1rem;
        }
    }
}