:root {
    --primary-color: #45cc00;
    --negative-color: #cc0000;

    --html-color: #e34c26;
    --html-color-bgc: rgba(227, 76, 38, 0.2);
    --html-color-bgc-hover: rgba(227, 76, 38, 0.3);

    --css-color: #2965f1;
    --css-color-bgc: rgba(41, 101, 241, 0.2);
    --css-color-bgc-hover: rgba(41, 101, 241, 0.3);

    --js-color: #f0db4f;
    --js-color-bgc: rgba(240, 219, 79, 0.2);
    --js-color-bgc-hover: rgba(240, 219, 79, 0.3);

    --text-color: rgba(0, 0, 0, 0.83);
}

html {
    font-size: 16px;
    color: var(--text-color);

    & body {
        margin: 0;

        & h1, & h2, & h3, & h4, & h5, & h6, & hgroup {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
        }

        &, & * {
            font-family: 'Roboto', sans-serif;
            box-sizing: border-box;
        }

        & i {
            font-family: "Material Design Icons", sans-serif;
        }

        & main {
            margin: 1rem;

            & button {
                cursor: pointer;
                padding: 0.5rem 1rem;
                border-radius: 0.25rem;
                border: none;
                background-color: var(--primary-color);
            }
        }
    }
}